/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
}

.flexiable-section{
    display: flex;
 
    }
    
.half-width{
        width:50%; 
    }
.star, .fa-star, .fa-star-half-alt{
    color: #FB8200;
}

.information{
    color: #787885 ;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collections{
    width: 329px;
    height: 476px;
    border: 1px solid red;
margin-bottom: 30px;
padding-left: 30px;
}