/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
}


/* navigation bar styles */
nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 3em;
}

nav li a{
    text-decoration: none;
    color: black;
}


/* header section  */
.flexible-section{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 69px;
    }


    /* button styles */
.button-one{
    text-decoration: none;
    background-color:#E02C6D;
    color: white;
    padding: 6px 11px;
    border-radius: 25px;
    font-weight: 700;
}


/* header image  */
.header-image{
        margin-left: 200px;
        background-image: url(images/circle-design.svg);
        background-repeat: no-repeat;
        height: 475px;
        width: 475px;  
    }

    .header-image img{
        height: 440px;
        height:414px;
    }


/* navigation  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* rating  */
.star, .fa-star, .fa-star-half-alt{
    color: #FB8200;
}

.information{
    color: #787885 ;
}

  /* Popular Collection */
.section-title{
text-align: center;
margin-top: 100px;
margin-bottom: 30px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.collections{
    width: 329px;
    height: 476px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
margin-bottom: 100px;
padding-left: 30px;
box-shadow: 0 30px 35px rgba(0, 0, 0, .2);
}


/* Submit Button  */
.submit-button{
    background-color: #E02C6D;
    padding: 6px 11px;
    color: white;
    font-weight: 700;
}

/* footer  */
footer{
    background-color: #0A0826;
    display: grid;
}
.footer-align{
    text-align: center; 
    color: white; 
 margin-top: 50px;
 margin-bottom: 50px;
}


/* footer icons color  */
.fa-instagram, .fa-facebook, .fa-twitter, .fa-youtube{
color: white;
height: 32px;
width: 32px;
}


/* See More Link  */
.see-more{
    text-align: right;
    margin-top: 30px;
}
.see-more-link{
    text-decoration: none;
    color: #E02C6D;
}

/* flexible  */
.flexible-section-two{
    display: grid;
    margin-bottom: 10%;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    }
    

    /* Animation */
    .banner-title{
        font-size: 60px;
        white-space: nowrap;
        position: relative;
        color: transparent;
    }
    .banner-title::before{
        content: 'Start Your Journey as';
        position: absolute;
        top: 0;
        left: 0;
        color: darkgreen;
        animation: normal 4s;
        animation: typing 4s linear infinite;
    }
    

    @keyframes typing {
        0% {
            content: 'S|';
        }
    
        3% {
            content: 'St|';
        }
    
        6% {
            content: 'Sta|';
        }
    
        9% {
            content: 'Star|';
        }
    
        12% {
            content: 'Start|';
        }
    
        15% {
            content: 'Start Y|';
        }
    
        18% {
            content: 'Start Yo|';
        }
    
        21% {
            content: 'Start You|';
        }
    
        24% {
            content: 'Start Your|';
        }
    
        27% {
            content: 'Start Your |';
        }
    
        30% {
            content: 'Start Your J|';
        }
    
        33% {
            content: 'Start Your Jo|';
        }
    
        36% {
            content: 'Start Your Jou|';
        }
    
        39% {
            content: 'Start Your Jour|';
        }
    
        42% {
            content: 'Start Your Journ|';
        }
    
        45% {
            content: 'Start Your Journe|';
        }
        48% {
            content: 'Start Your Journey|';
        }
    
        51% {
            content: 'Start Your Journey |';
        }
    
        54% {
            content: 'Start Your Journey a|';
        }
    
        57% {
            content: 'Start Your Journey as|';
        }

        60%,
        78% {
            content: 'Start Your Journey as|';
        }

        79% {
            content: 'Start Your Journey a|';
        }

        80% {
            content: 'Start Your Journey |';
        }

        81% {
            content: 'Start Your Journey|';
        }

        82% {
            content: 'Start Your Journe|';
        }
    
        83% {
            content: 'Start Your Journ|';
        }
    
        84% {
            content: 'Start Your Jour|';
        }
    
        85% {
            content: 'Start Your Jou|';
        }
    
        86% {
            content: 'Start Your Jo|';
        }
    
        87% {
            content: 'Start Your J|';
        }
    
        88% {
            content: 'Start Your |';
        }
    
        89% {
            content: 'Start Your|';
        }
    
        90% {
            content: 'Start You|';
        }
    
        91% {
            content: 'Start Yo|';
        }
    
        92% {
            content: 'Start Y|';
        }
    
        93% {
            content: 'Start |';
        }
    
        94% {
            content: 'Start|';
        }
    
        95% {
            content: 'Star|';
        }
    
        96% {
            content: 'Sta|';
        }
    
        97% {
            content: 'St|';
        }
    
        98% {
            content: 'S|';
        }
        99% {
            content: '|';
        }
    
        100% {
            content: '|';
        }
    }
  