/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
}


/* navigation bar styles */
nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 3em;
}

nav li a{
    text-decoration: none;
    color: black;
}


/* header section  */
.flexible-section{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 69px;
    }


    /* button styles */
.button-one{
    text-decoration: none;
    background-color:#E02C6D;
    color: white;
    padding: 6px 11px;
    border-radius: 25px;
    font-weight: 700;
}


/* header image  */
.header-image{
        margin-left: 200px;
        background-image: url(images/circle-design.svg);
        background-repeat: no-repeat;
        height: 475px;
        width: 475px;  
    }

    .header-image img{
        height: 440px;
        height:414px;
    }


/* navigation  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* rating  */
.star, .fa-star, .fa-star-half-alt{
    color: #FB8200;
}

.information{
    color: #787885 ;
}

  /* Popular Collection */
.section-title{
text-align: center;
margin-top: 100px;
margin-bottom: 30px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.collections{
    width: 329px;
    height: 476px;
    border: 1px solid #AAAAAA;
    border-radius: 10px;
margin-bottom: 100px;
padding-left: 30px;
box-shadow: 0 30px 35px rgba(0, 0, 0, .2);
}


/* Submit Button  */
.submit-button{
    background-color: #E02C6D;
    padding: 6px 11px;
    color: white;
    font-weight: 700;
}

/* footer  */
footer{
    background-color: #0A0826;
    display: grid;
}
.footer-align{
    text-align: center; 
    color: white; 
 margin-top: 50px;
 margin-bottom: 50px;
}


/* footer icons color  */
.fa-instagram, .fa-facebook, .fa-twitter, .fa-youtube{
color: white;
height: 32px;
width: 32px;
}


/* See More Link  */
.see-more{
    text-align: right;
    margin-top: 30px;
}
.see-more-link{
    text-decoration: none;
    color: #E02C6D;
}

/* flexible  */
.flexible-section-two{
    display: grid;
    margin-bottom: 10%;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    }
    
  